---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Moin, ich bin Joshi"
	description="Meine Leidenschaft ist das Lernen und Lehren"
	pubDate={new Date('10.Juni.2024')}
	heroImage=""
>
	<p>
		und meine Leidenschaft ist das Lernen und Lehren. Mein Ansatz dabei ist, dass gerade das Lernen 
		auch Spaß machen oder zumindest möglichst effektiv sein soll. Es gibt nichts, das mich mehr begeistert,
		als gute Lernmaterialien. Deswegen bin ich ständich nach der Suche nach Lernmaterialien, egal in welchem Bereich.
		Außerdem, erschaffe ich auch selber gerne welche, wenn es zu einem Thema noch nichts gibt, mit dem ich zufrieden bin.
		Auf diesem Blog teile ich alles, was ich finde, gebe Lerntipps und veröffentliche meine neuen Projekte. Ich hoffe, ich kann den
		ein oder anderen auch so vom Lernen begeistern.
	</p>

	<h2> Was ist meiner Meinung nach gutes Lernmaterial ist. </h2>

		<p>
			Viele kennen den Begriff "Flow". In diesem Zustand ist man so bei der Sache, dass man alles um sich herum vergisst. 
			Meiner meinung nach, ist es das beste Gefühl, das es gibt und man ist in diesem Zustand maximal produktiv. 
			Um diesen Zustand zu erreichen, braucht man jedoch eine Aufgabe, die nicht zu leicht und nicht zu Schwer ist und man muss
			Fortschritt spüren können. Der Pfad zwischen zu leicht und zu schwer ist dabei jedoch sehr dünn.
			Wenn Lernmaterialien es hinkriegen, sich auf diesem Pfad zu bewegen, dann hat man es meiner Meinung nach geschafft das 
			"perfekte Lernmaterial zu schaffen".
			Ich habe bisher jeoch erst einen Kurs gefunden, der so perfekt war. Dennoch gibt es viele tolle Ansätze, um das Lernen effektiver, 
			spaßiger und besser zu machen. Meine Aufgabe ist es, diese zu finden und mein Lebensziel ist es, das ein "perfektes Lernmaterial" zu erschaffen.
			Klingt das, als könnte es dich interessieren? Dann melde dich bei meinem Newsletter an, folge mir auf Youtube oder Speichere diesen Blog ab, um von mir
			auf dem laufenden gehalten zu werden.
			<br> <br>
			Happy learning, <br>
			Joshi.
		</p>
</Layout>
