---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Moin, ich bin Joshi"
	description="Meine Leidenschaft ist das Lernen und Lehren"
	pubDate={new Date('10.Juni.2024')}
	heroImage=""
>


<h1>Impressum</h1>

<p>Joshua Barkow<br />
Dorfstra&szlig;e 35<br />
31693 Hespe</p>

<h2>Kontakt</h2>
<p>Telefon: 015758295961<br />
E-Mail: joshi@joshuabarkow.com</p>

<h2>Redaktionell verantwortlich</h2>
<p>Joshua Barkow Dorfst. 35 31693 Hespe</p>

<p>Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
</Layout>
